.site-map {

}
.site-map-list {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    background-color: var(--primary-color4);
    border-radius: 4px;
    margin: 8px 0 12px;
}
.site-map-item {
    font-size: 14px;
    padding: 10px 0 10px 8px;
}
.site-map-item:first-child:hover {
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}
.site-map-item a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}
.site-map-item h1 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    
}

/* form filter */
.form-filter {
    display: flex;
    margin: 0 12px 24px 12px;
}
.form-filter-item {
    margin: 0 12px 0 0;
}
.form-filter-select {
    background-color: #383838;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 6px;
    text-align: center;
}
.form-filter input {
    background-color: #717171;
    color: #fff;
    border: none;
    padding: 0 12px;
    cursor: pointer;
}

/* panigation */
.pagination {
    display: flex;
    justify-content: flex-end;
}
.pagination ul {
    display: flex;
    margin: 24px 0;
}
.pagination li {
    margin: 0 0 0 12px;
}
.pagination li a {
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border: 1px solid rgba(255, 255, 255, 0.595);
}
.pagination .current {
    border: 1px solid var(--primary-color0);
    color: var(--primary-color0);
}